<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('简历管理')" />
</head>
<body class="gray-bg">
<img alt="支付二维码" th:src="${img}" >
<input id="orderNo" name="orderNo" type="hidden" th:value="${orderNo}" />
<input id="totalFee" name="totalFee" type="hidden" th:value="${totalFee}" />
<th:block th:include="include :: footer" />
<script th:inline="javascript">
    window.onload=function(){

        setTimeout(function () {
        var orderNo = $('#orderNo').val();
        var totalFee = $('#totalFee').val();
        $.ajax({
            type: "get",
            url: ctx + "job/vip/updateOrder?orderNo=" + orderNo + "&totalFee=" + totalFee,

            success: function(r) {
                if (r.code == 0) {
                    $.modal.msgReload('支付成功！',modal_status.SUCCESS);

                } else {
                    $.modal.msg(r.msg);
                }
            }
        });
        }, 15000)
    }
</script>
</body>
</html>