<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.job.vip.mapper.JobVipDetailMapper">
    
    <resultMap type="JobVipDetail" id="JobVipDetailResult">
        <result property="userId"    column="user_id"    />
        <result property="openTime"    column="open_time"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectJobVipDetailVo">
        select a.user_id, a.open_time, a.start_time, a.end_time, a.status, b.user_name userName from job_vip_detail a join sys_user b
        on a.user_id = b.user_id
    </sql>

    <select id="selectJobVipDetailList" parameterType="JobVipDetail" resultMap="JobVipDetailResult">
        <include refid="selectJobVipDetailVo"/>
        <where>  
            <if test="openTime != null "> and a.open_time = #{openTime}</if>
            <if test="startTime != null "> and a.start_time = #{startTime}</if>
            <if test="endTime != null "> and a.end_time = #{endTime}</if>
            <if test="status != null "> and a.status = #{status}</if>
        </where>
    </select>
    
    <select id="selectJobVipDetailById" parameterType="Long" resultMap="JobVipDetailResult">
        <include refid="selectJobVipDetailVo"/>
        where a.user_id = #{userId}
    </select>
        
    <insert id="insertJobVipDetail" parameterType="JobVipDetail">
        insert into job_vip_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null ">user_id,</if>
            <if test="openTime != null ">open_time,</if>
            <if test="startTime != null ">start_time,</if>
            <if test="endTime != null ">end_time,</if>
            <if test="status != null ">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null ">#{userId},</if>
            <if test="openTime != null ">#{openTime},</if>
            <if test="startTime != null ">#{startTime},</if>
            <if test="endTime != null ">#{endTime},</if>
            <if test="status != null ">#{status},</if>
         </trim>
    </insert>

    <update id="updateJobVipDetail" parameterType="JobVipDetail">
        update job_vip_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="openTime != null ">open_time = #{openTime},</if>
            <if test="startTime != null ">start_time = #{startTime},</if>
            <if test="endTime != null ">end_time = #{endTime},</if>
            <if test="status != null ">status = #{status},</if>
        </trim>
        where user_id = #{userId}
    </update>

    <delete id="deleteJobVipDetailById" parameterType="Long">
        delete from job_vip_detail where user_id = #{userId}
    </delete>

    <delete id="deleteJobVipDetailByIds" parameterType="String">
        delete from job_vip_detail where user_id in 
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>
    
</mapper>