<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('处理简历')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-resume-edit" th:object="${operationVO}">
            <input name="resumeId" th:field="*{resumeId}" type="hidden">
            <div class="form-group">
                <label class="col-sm-3 control-label">简历名称：</label>
                <div class="col-sm-8">
                    <input name="resumeName" th:field="*{resumeName}" class="form-control"  required readonly>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">职位类别：</label>
                <div class="col-sm-8">
                    <input name="positionType" th:field="*{positionType}" class="form-control m-b" readonly>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">简历内容：</label>
                <div class="col-sm-8">
                    <textarea name="content" class="form-control" required readonly>[[*{content}]]</textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">地区：</label>
                <div class="col-sm-8">
                    <input name="area" th:field="*{area}" class="form-control m-b" readonly>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">薪资范围：</label>
                <div class="col-sm-8">
                    <input name="salary" th:field="*{salary}" readonly class="form-control m-b">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">生日：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input name="birthday" th:value="${#dates.format(operationVO.birthday, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd"  readonly required>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">电话：</label>
                <div class="col-sm-8">
                    <input name="phone" th:field="*{phone}" class="form-control" type="text" readonly required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">工作经历：</label>
                <div class="col-sm-8">
                    <textarea name="workExperience" class="form-control" readonly>[[*{workExperience}]]</textarea>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        var prefix = ctx + "job/resume";
        $("#form-resume-edit").validate({
            focusCleanup: true
        });


        $("input[name='birthday']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>