<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.job.enterprise.mapper.JobEnterpriseMapper">
    
    <resultMap type="JobEnterprise" id="JobEnterpriseResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="name"    column="name"    />
        <result property="scale"    column="scale"    />
        <result property="category"    column="category"    />
        <result property="address"    column="address"    />
        <result property="phone"    column="phone"    />
        <result property="information"    column="information"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectJobEnterpriseVo">
        select id, user_id, name, scale, category, address, phone, information, create_by, create_time, update_by, update_time from job_enterprise
    </sql>

    <select id="selectJobEnterpriseList" parameterType="JobEnterprise" resultMap="JobEnterpriseResult">
        <include refid="selectJobEnterpriseVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="scale != null "> and scale = #{scale}</if>
            <if test="category != null "> and category = #{category}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="information != null  and information != ''"> and information = #{information}</if>
        </where>
    </select>
    
    <select id="selectJobEnterpriseById" parameterType="Long" resultMap="JobEnterpriseResult">
        <include refid="selectJobEnterpriseVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertJobEnterprise" parameterType="JobEnterprise">
        insert into job_enterprise
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">id,</if>
            <if test="userId != null ">user_id,</if>
            <if test="name != null  and name != ''">name,</if>
            <if test="scale != null ">scale,</if>
            <if test="category != null ">category,</if>
            <if test="address != null  and address != ''">address,</if>
            <if test="phone != null  and phone != ''">phone,</if>
            <if test="information != null  and information != ''">information,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="userId != null ">#{userId},</if>
            <if test="name != null  and name != ''">#{name},</if>
            <if test="scale != null ">#{scale},</if>
            <if test="category != null ">#{category},</if>
            <if test="address != null  and address != ''">#{address},</if>
            <if test="phone != null  and phone != ''">#{phone},</if>
            <if test="information != null  and information != ''">#{information},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateJobEnterprise" parameterType="JobEnterprise">
        update job_enterprise
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null ">user_id = #{userId},</if>
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="scale != null ">scale = #{scale},</if>
            <if test="category != null ">category = #{category},</if>
            <if test="address != null  and address != ''">address = #{address},</if>
            <if test="phone != null  and phone != ''">phone = #{phone},</if>
            <if test="information != null  and information != ''">information = #{information},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteJobEnterpriseById" parameterType="Long">
        delete from job_enterprise where id = #{id}
    </delete>

    <delete id="deleteJobEnterpriseByIds" parameterType="String">
        delete from job_enterprise where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectJobInviteEnterpriseList" parameterType="JobEnterprise" resultType="com.ruoyi.project.job.invite.vo.InviteVO">
        SELECT
        a.id enterpriseId,
        a.name enterpriseName,
        b.invite_id inviteId,
        b.interview_place interviewPlace,
        b.invite_time inviteTime,
        b.interview_time interviewTime,
        b.operate_status operateStatus,
        b.operate_result operateResult
        FROM
        job_enterprise a
        JOIN job_invite b ON a.user_id = b.user_id

        <where>
            b.resume_id=#{resumeId}
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="scale != null "> and scale = #{scale}</if>
            <if test="category != null "> and category = #{category}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>

        </where>
    </select>

    <select id="selectAllEnterpriseCounts" resultType="Integer">
        select count(*) from job_enterprise;
    </select>

    <select id="yesterdayRegister" resultType="Integer">
        select count(*) from job_enterprise
        where to_days(`create_time`) >= to_days(now())-2
        and to_days(now())-1 >=to_days(`create_time`);
    </select>

    <select id="todayRegister" resultType="Integer">
        select count(*) from job_enterprise
        where create_time >= date(now())
        and DATE_ADD(date(now()),INTERVAL 1 DAY) >create_time;
    </select>

    <select id="selectEnterpriseNameAndAddress" resultType="com.ruoyi.project.system.dashboard.domain.EnterpriseDto">
        select name,address
        from job_enterprise
        order by create_time desc
        limit 20;
    </select>
 </mapper>