<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.parttime.project.job.resume.mapper.JobConcernMapper">

    <resultMap type="JobConcern" id="JobConcernResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="resumeId"    column="resume_id"    />
        <result property="concernTime"    column="concern_time"    />
    </resultMap>

    <sql id="selectJobConcernVo">
        select id, user_id, resume_id, concern_time from job_concern
    </sql>

    <select id="selectJobConcernList" parameterType="JobConcern" resultMap="JobConcernResult">
        <include refid="selectJobConcernVo"/>
        <where>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="resumeId != null "> and resume_id = #{resumeId}</if>
            <if test="concernTime != null "> and concern_time = #{concernTime}</if>
        </where>
    </select>

    <select id="selectJobConcernById" parameterType="Long" resultMap="JobConcernResult">
        <include refid="selectJobConcernVo"/>
        where id = #{id}
    </select>

    <insert id="insertJobConcern" parameterType="JobConcern">
        insert into job_concern
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">id,</if>
            <if test="userId != null ">user_id,</if>
            <if test="resumeId != null ">resume_id,</if>
            <if test="concernTime != null ">concern_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">#{id},</if>
            <if test="userId != null ">#{userId},</if>
            <if test="resumeId != null ">#{resumeId},</if>
            <if test="concernTime != null ">#{concernTime},</if>
        </trim>
    </insert>

    <delete id="deleteJobConcernById" parameterType="Long">
        delete from job_concern where id = #{id}
    </delete>

    <delete id="deleteJobConcern" parameterType="Long">
        delete from job_concern where user_id = #{userId} and resume_id = #{resumeId}
    </delete>
</mapper>