<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.parttime.project.job.invite.mapper.JobInviteMapper">
    
    <resultMap type="JobInvite" id="JobInviteResult">
        <result property="inviteId"    column="invite_id"    />
        <result property="userId"    column="user_id"    />
        <result property="resumeId"    column="resume_id"    />
        <result property="inviteTime"    column="invite_time"    />
        <result property="interviewTime"    column="interview_time"    />
        <result property="interviewPlace"    column="interview_place"    />
        <result property="operateStatus"    column="operate_status"    />
        <result property="operateResult"    column="operate_result"    />
        <result property="reason"    column="reason"    />
        <result property="operateTime"    column="operate_time"    />
    </resultMap>

    <sql id="selectJobInviteVo">
        select invite_id, user_id, resume_id, invite_time, interview_time, interview_place, operate_status, operate_result, reason, operate_time from job_invite
    </sql>

    <select id="selectJobInviteList" parameterType="JobInvite" resultMap="JobInviteResult">
        <include refid="selectJobInviteVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="resumeId != null "> and resume_id = #{resumeId}</if>
            <if test="inviteTime != null "> and invite_time = #{inviteTime}</if>
            <if test="interviewTime != null "> and interview_time = #{interviewTime}</if>
            <if test="interviewPlace != null  and interviewPlace != ''"> and interview_place = #{interviewPlace}</if>
            <if test="operateStatus != null "> and operate_status = #{operateStatus}</if>
            <if test="operateResult != null "> and operate_result = #{operateResult}</if>
            <if test="reason != null  and reason != ''"> and reason = #{reason}</if>
            <if test="operateTime != null "> and operate_time = #{operateTime}</if>
        </where>
    </select>
    
    <select id="selectJobInviteById" parameterType="Long" resultMap="JobInviteResult">
        <include refid="selectJobInviteVo"/>
        where invite_id = #{inviteId}
    </select>
        
    <insert id="insertJobInvite" parameterType="JobInvite" useGeneratedKeys="true" keyProperty="inviteId">
        insert into job_invite
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null ">user_id,</if>
            <if test="resumeId != null ">resume_id,</if>
            <if test="inviteTime != null ">invite_time,</if>
            <if test="interviewTime != null ">interview_time,</if>
            <if test="interviewPlace != null  and interviewPlace != ''">interview_place,</if>
            <if test="operateStatus != null ">operate_status,</if>
            <if test="operateResult != null ">operate_result,</if>
            <if test="reason != null  and reason != ''">reason,</if>
            <if test="operateTime != null ">operate_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null ">#{userId},</if>
            <if test="resumeId != null ">#{resumeId},</if>
            <if test="inviteTime != null ">#{inviteTime},</if>
            <if test="interviewTime != null ">#{interviewTime},</if>
            <if test="interviewPlace != null  and interviewPlace != ''">#{interviewPlace},</if>
            <if test="operateStatus != null ">#{operateStatus},</if>
            <if test="operateResult != null ">#{operateResult},</if>
            <if test="reason != null  and reason != ''">#{reason},</if>
            <if test="operateTime != null ">#{operateTime},</if>
         </trim>
    </insert>

    <update id="updateJobInvite" parameterType="JobInvite">
        update job_invite
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null ">user_id = #{userId},</if>
            <if test="resumeId != null ">resume_id = #{resumeId},</if>
            <if test="inviteTime != null ">invite_time = #{inviteTime},</if>
            <if test="interviewTime != null ">interview_time = #{interviewTime},</if>
            <if test="interviewPlace != null  and interviewPlace != ''">interview_place = #{interviewPlace},</if>
            <if test="operateStatus != null ">operate_status = #{operateStatus},</if>
            <if test="operateResult != null ">operate_result = #{operateResult},</if>
            <if test="reason != null  and reason != ''">reason = #{reason},</if>
            <if test="operateTime != null ">operate_time = #{operateTime},</if>
        </trim>
        where invite_id = #{inviteId}
    </update>

    <delete id="deleteJobInviteById" parameterType="Long">
        delete from job_invite where invite_id = #{inviteId}
    </delete>

    <delete id="deleteJobInviteByIds" parameterType="String">
        delete from job_invite where invite_id in 
        <foreach item="inviteId" collection="array" open="(" separator="," close=")">
            #{inviteId}
        </foreach>
    </delete>

    <select id="selectJobInvite" parameterType="Long" resultType="com.parttime.project.job.invite.vo.InviteVO">
        select a.invite_id inviteId, a.user_id userId, a.resume_id resumeId, a.invite_time inviteTime,
        a.interview_time interviewTime, a.interview_place interviewPlace, a.operate_status operateStatus,
        a.operate_result operateResult, a.reason, a.operate_time operateTime, u.user_name userName,
        b.resume_name resumeName
        from job_invite a
        join sys_user u on a.user_id = u.user_id
        join job_resume b on a.resume_id = b.resume_id
        where a.invite_id = #{inviteId}
    </select>
</mapper>